.App {
  text-align: center;
  
  background: rgba(18,18,18,1);
background: -moz-linear-gradient(left, rgba(18,18,18,1) 6%, rgba(89,89,89,1) 7%, rgba(77,77,77,1) 9%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 25%, rgba(71,71,71,1) 29%, rgba(89,89,89,1) 64%, rgba(102,102,102,1) 91%, rgba(43,43,43,1) 94%, rgba(0,0,0,1) 94%);
background: -webkit-gradient(left top, right top, color-stop(6%, rgba(18,18,18,1)), color-stop(7%, rgba(89,89,89,1)), color-stop(9%, rgba(77,77,77,1)), color-stop(25%, rgba(43,43,43,1)), color-stop(25%, rgba(28,28,28,1)), color-stop(29%, rgba(71,71,71,1)), color-stop(64%, rgba(89,89,89,1)), color-stop(91%, rgba(102,102,102,1)), color-stop(94%, rgba(43,43,43,1)), color-stop(94%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(18,18,18,1) 6%, rgba(89,89,89,1) 7%, rgba(77,77,77,1) 9%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 25%, rgba(71,71,71,1) 29%, rgba(89,89,89,1) 64%, rgba(102,102,102,1) 91%, rgba(43,43,43,1) 94%, rgba(0,0,0,1) 94%);
background: -o-linear-gradient(left, rgba(18,18,18,1) 6%, rgba(89,89,89,1) 7%, rgba(77,77,77,1) 9%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 25%, rgba(71,71,71,1) 29%, rgba(89,89,89,1) 64%, rgba(102,102,102,1) 91%, rgba(43,43,43,1) 94%, rgba(0,0,0,1) 94%);
background: -ms-linear-gradient(left, rgba(18,18,18,1) 6%, rgba(89,89,89,1) 7%, rgba(77,77,77,1) 9%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 25%, rgba(71,71,71,1) 29%, rgba(89,89,89,1) 64%, rgba(102,102,102,1) 91%, rgba(43,43,43,1) 94%, rgba(0,0,0,1) 94%);
background: linear-gradient(to right, rgba(18,18,18,1) 6%, rgba(89,89,89,1) 7%, rgba(77,77,77,1) 9%, rgba(43,43,43,1) 25%, rgba(28,28,28,1) 25%, rgba(71,71,71,1) 29%, rgba(89,89,89,1) 64%, rgba(102,102,102,1) 91%, rgba(43,43,43,1) 94%, rgba(0,0,0,1) 94%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#000000', GradientType=1 );
}
.Header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.947);
  height: 85px;
}
.columna1 {
  text-align: center;
  
}

.columna2 {
  text-align: center;
  
}

.letrablanca {
  color:  hsla(196, 24%, 85%, 0.94);
}

.Menutweet li {
  text-align: center;
  padding-right: 40px;
}

.Menu li {
  display: inline-block;
  text-align: center;
  padding-right: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}