.Fondo {
    height: 100vh;
    background: rgba(76,76,76,1);
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(19,19,19,0.88) 17%, rgba(102,102,102,0.87) 19%, rgba(44,44,44,0.8) 29%, rgba(71,71,71,0.73) 39%, rgba(0,0,0,0.64) 51%, rgba(17,17,17,0.58) 60%, rgba(43,43,43,0.47) 76%, rgba(28,28,28,0.36) 91%, rgba(28,28,28,0.32) 97%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(17%, rgba(19,19,19,0.88)), color-stop(19%, rgba(102,102,102,0.87)), color-stop(29%, rgba(44,44,44,0.8)), color-stop(39%, rgba(71,71,71,0.73)), color-stop(51%, rgba(0,0,0,0.64)), color-stop(60%, rgba(17,17,17,0.58)), color-stop(76%, rgba(43,43,43,0.47)), color-stop(91%, rgba(28,28,28,0.36)), color-stop(97%, rgba(28,28,28,0.32)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(19,19,19,0.88) 17%, rgba(102,102,102,0.87) 19%, rgba(44,44,44,0.8) 29%, rgba(71,71,71,0.73) 39%, rgba(0,0,0,0.64) 51%, rgba(17,17,17,0.58) 60%, rgba(43,43,43,0.47) 76%, rgba(28,28,28,0.36) 91%, rgba(28,28,28,0.32) 97%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(19,19,19,0.88) 17%, rgba(102,102,102,0.87) 19%, rgba(44,44,44,0.8) 29%, rgba(71,71,71,0.73) 39%, rgba(0,0,0,0.64) 51%, rgba(17,17,17,0.58) 60%, rgba(43,43,43,0.47) 76%, rgba(28,28,28,0.36) 91%, rgba(28,28,28,0.32) 97%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(19,19,19,0.88) 17%, rgba(102,102,102,0.87) 19%, rgba(44,44,44,0.8) 29%, rgba(71,71,71,0.73) 39%, rgba(0,0,0,0.64) 51%, rgba(17,17,17,0.58) 60%, rgba(43,43,43,0.47) 76%, rgba(28,28,28,0.36) 91%, rgba(28,28,28,0.32) 97%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(19,19,19,0.88) 17%, rgba(102,102,102,0.87) 19%, rgba(44,44,44,0.8) 29%, rgba(71,71,71,0.73) 39%, rgba(0,0,0,0.64) 51%, rgba(17,17,17,0.58) 60%, rgba(43,43,43,0.47) 76%, rgba(28,28,28,0.36) 91%, rgba(28,28,28,0.32) 97%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c', GradientType=1 );
}
.h1 {
    text-align:center;
    
    color: white; /* Color */
    background-color: black /* Color de fondo */
}
.p {
    text-align: end;
    color: red; /* Color */
}